---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import Sectioncontainer from '../components/Sectioncontainer.astro'
import Carrusel from '../components/Carrusel.astro'
---

<Layout title="Dani dj Eventos" >
	<main >
		<Header />
		<Carrusel />
		<Sectioncontainer>
			<Card class="pb-10"/>
		</Sectioncontainer>
	</main>
</Layout>

