---
const CUMPLEAÑOS =[
    {
    title:"Cumpleaños de 15",
    
    },
]
---




<div class="card card-side bg-base-100 shadow-xl fixed border z-20  ">
    <figure><img src="../../public/DJ_Monogram_Logo-removebg-preview 1dj.png" alt="Movie"/></figure>
    <div class="card-body slate-600 border-l bg-neutral-800/50">
        <h2 class="card-title text-stone-200 rounded-r-lg">New movie is released!</h2>
            <div class="card-actions justify-end ">
            </div>
        </div>
    </div>