---
const EVENTOS =[
    {
    title:"Cumpleaños de 15",
    description:"Con iluminacion y sonido de ultima  generacion, Hacer realidad tu noche magíca ",
    image:"../../public/OLD Galeria 15 años _ bonof (1).jpeg"
    },
    {
    title:"Bodas",
    description:"Con iluminacion y sonido de ultima generacion, Hacer realidad tu noche magíca",
    image:"../../public/boda.jpeg"
    },
    {
    title:"Eventos sociales",
    description:"Con iluminacion y sonido de ultima generacion, Hacer realidad tu noche magíca",
    image:"https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg"
    },
    {
    title:"Bautisos",
    description:"Con iluminacion y sonido de ultima generacion, Hacer realidad tu noche magíca",
    image:"https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg"
    },
]
---
{
EVENTOS.map(({title, description, image}) =>(
    <div class="card lg:card-side bg-base-100 shadow-xl border columns-2xs ">
        <figure><img 
            loading="lazy"
            src={image} 
            alt="Album"/></figure>
        <div class="px-10 border-l">
        <h2 class="card-title text-slate-200 py-2 " >{title}</h2>
        <p class="text-slate-200">{description}</p>
        <div class="card-actions justify-center">
        </div>
        </div>
    </div>
    ))
}