
<div class="navbar bg-gray-900 z-20 border-b bg-zinc-900/50 ">
  <div class="navbar-start ">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg>
      </div>
    </div>
    <button class="btn-ghost rounded-r-lg rounded-l-lg"><img src="../../public/DJ_Monogram_Logo-removebg-preview 1dj.png" ></button><span class="font-semibold text-2xl text-white px-4">Dani DJ eventos</span>
    
  </div>
  <div class="hidden lg:flex navbar-end font-extrabold text-sm/[16px] text-white">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#">Inicío</a></li>
    </ul>
    <ul class="menu menu-horizontal px-1">
      <li><a href="#Sobre-mi">Sobre mi</a></li>
    </ul>
    <ul class="menu menu-horizontal px-1">
      <li><a href="#Servicios">Servicíos</a></li>
    </ul>
    <ul class="menu menu-horizontal px-1">
      <li><a href="#Contactos">Contactos</a></li>
    </ul>
  </div>
</div>
